.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    justify-content: ;


}

.RollDice button {
    align-self: center;
    width: 15rem;
    padding: 1.5rem;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3rem;
    font-size: 25px;
}

.RollDice button:hover {
    background-color: #d00000;
    cursor: pointer;
}
